* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #013440;
}

.principal {
    margin: auto; 
    height: auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 100%; 
    max-width: 250px;
    background-color: #234D68;
    color: white;
}

/* Config divs: p, h1 e etc */
.principal h1 {
    margin-bottom: 10px;
    text-align: center;
}

.principal p {
    margin-bottom: 4px;
    margin-top: 10px;
}

/* Config dos botoes e inputs */
.principal input {
    border-radius: 4px;
    border: none;
    padding: 3px;
    margin-bottom: 5px;
    width: 60%;
    transition: transform 0.3s ease;
}

.principal button {
    border-radius: 4px;
    width: 10%;
    background-color: #566B81;
    padding: 3px;
    border: none;
    color: white;
    transition: transform 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}

.principal input:hover {
    transform: translateY(-1px);
}

.principal button:hover {
    transform: translateY(-1px);
}

.btn-ativo {
    background-color: #7da0c2 !important; 
    box-shadow: 0 0 15px #a3c1ad;
    transform: scale(1.10);
    transition: all 0.3s ease;
}

/* Config barra tarefas */
.tarefas {
    border-radius: 4px;
    color: #566B81;
}

.tarefas:has(p) {
    background-color: #566B81;
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.tarefas p {
    padding: 2px;
    margin: 0px 5px 5px 5px; 
    border-radius: 4px;
    margin-bottom: 2px;
    background-color: white;
    transition: all 0.3s ease;
    word-break: break-word;
    overflow-wrap: break-word;
}

.tarefas p:hover {
    transform: translateX(1px);
}

.principal button img {
    width: 100%;
    max-width: 18px;
    height: auto;
    pointer-events: none;
}